.jumbotron {
  padding-top: 6rem;
  background-color: #1a1a1a;
}

#projects {
  background-color: #1a1a1a;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: white;
}
nav,
#contact {
  background-color: #1a1a1a;
}

#contact .container {
  background-color: #1a1a1a;
}

a {
  color: white;
}

section p {
  font-style: italic;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
